<div class="container">
  <app-sidebar
    [selectedGraph]="selectedGraph"
    [visualGraphs]="visualGraphs"
    (onSelect)="selectedGraph = visualGraphs.get($event)"
    (onCreateGraph)="createGraph()"
    (onDeleteGraph)="deleteGraph($event)"
    (onSaveFile)="onSaveFile($event)"
    (onOpenFile)="onOpenFile($event)"
    (onResetFile)="reset()"
  />

  <app-canvas
    [graphs]="graphs"
    [visualGraphs]="visualGraphs"
    [infoModals]="infoModals"
    [selectedGraph]="selectedGraph"
    [selectedInfoModal]="selectedInfoModal"
    (onSelect)="onSelect($event)"
    (onCreateGraph)="createGraph($event)"
    (onDeleteGraph)="deleteGraph($event)"
    (onCreateInfoModal)="createInfoModal($event)"
  ></app-canvas>
</div>

<router-outlet />
