input
  &[type="file"]
    display: none

.sidebar
  position: absolute
  width: 400px
  height: 100vh
  top: 0
  left: 0
  padding: 20px
  display: flex
  flex-direction: column
  gap: 20px
  pointer-events: none

.menu
  width: 100%
  display: flex
  font-family: sans-serif
  pointer-events: all
  justify-content: space-between

  .option
    color: white
    background-color: #0d0c0f
    padding: 10px 20px 10px 20px
    border-radius: 10px
    font-size: 1.25em
    cursor: pointer
    transition: 0.3s

    &:hover
      background-color: #1e1c23

.window
  width: 100%
  min-height: 150px
  background-color: #151616df
  border-radius: 20px
  color: white
  pointer-events: all
  font-family: sans-serif

  &.menu-window
    .content
      width: calc(100% - 20px)

      .button
        width: calc(100% - 20px)

  .button
    background-color: #0d0c0f
    width: calc(100% - 40px)
    display: flex
    padding: 10px
    border-radius: 10px
    display: flex
    justify-content: center
    align-items: center
    user-select: none
    cursor: pointer

  .header
    width: 100%
    width: 100%
    height: 30px
    text-align: center
    padding-top: 10px

    .type
      font-size: 1.25em

  .content
    width: 100%
    flex-grow: 2
    padding: 10px
    display: flex
    flex-direction: column
    gap: 10px

    .property
      width: calc(100% - 40px)
      display: flex
      justify-content: space-between
      font-family: sans-serif

      app-input
        width: 100%

      div
        display: flex
        justify-content: center
        align-items: center

    .graph-container
      height: 50px
      background-color: #212628
      border-radius: 10px
      display: flex
      align-items: center
      padding-left: 10px
      padding-right: 10px
      cursor: pointer
      border: 3px solid #3f3e3d

    .graph-container.selected
      border: 3px solid white
